extend shopLayout

block content 
    .col-md-4(ng-controller='listCategories')
      h1.lead Categories
      div.list-group
        a.list-group-item(href='/shop/') All products
        a.list-group-item(ng-repeat='category in data.categories', href='/shop/{{category | formatCategory }}/') {{ category }}        
    .col-md-8
      .row
        .page-header(style='padding: 0 20px')
          h1
            small= products[0].category
        each product in products
          .thumbnail.col-md-4.col-sm-6(style='padding: 0 20px; border: none;')
            div.responsive(style="background-image: url('#{product.banner}');")
            .caption.clearfix
              - var price = String(product.price).replace('.',',');
              h4.pull-right= price + ' €'
              h4
                a(href="/shop/#{product.categoryurl}/#{product.url}")= product.title
              - var description = String(product.description).slice(0,75);
              p= description
                  
